#menu_text {
	color : White;
	margin : 0;
	width: 100%;
	border-style: solid;
  border-color: black;
  background: url("https://i.pinimg.com/originals/69/da/a9/69daa92eee44f241dc40afb53e66276f.jpg");
  background: cover;
  background-repeat: repeat;
  font-size: 50px;
  text-align : center;
	padding:  80px;
}

/** {
	padding : 0px;
	margin :0px;
}*/


h2 {
	color :red;
}

nav {
	background-color : black;
	overflow : hidden; 
	font-size: 18px;
}
nav a {
	color : white;
	padding : 18px;
	display : block;
	text-align: center;
	text-decoration: none;
	float : left;

}
nav a:hover {
	background-color : white;
	color:  black;
}

.my_img {
	border-style: solid;
  border-color: black;
}

#left_side {
	flex : 40%;
	padding: 5px 20px;
	border-right-style: solid;
  border-right-color: grey;
  border-left-style: solid;
  border-left-color: black;
  font-size: 17px;
}


#right_side {
	flex: 60%;
	padding: 5px 20px;
	border-right-style: solid;
  border-right-color: black;
  font-size: 17px;
 
}
#flex_container {
	display : flex;
	flex-wrap : nowrap;

}

.social-icon{
  margin-top: 20px;
  display: flex;
}
.social-icon li {
  list-style: none;
}
.social-icon li a{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}
.social-icon li a:hover{
  background: grey;
}
.social-icon li a .fa{
  color: #fff;
  font-size: 20px;
}
.links h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}

#noi_dung_contact {
	width: 30%;
}

#noi_dung_links {
	width: 30%;
}

#created {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

table {
	border-collapse: collapse;
	border-style: solid;
  border-color: black;
}


table td, table th {
	border: 2px solid black;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.team_img {
	width: 90% ;
	border-style: solid;
  border-color: black;

}

.team_member {
	/*width : 50%;
	float: left;*/
	text-align : center;
	flex : 50%;
}


#team_container {
	display: flex;
	flex-wrap : wrap;
 
}

#poster_container {
	display: flex;
	flex-wrap : wrap;
}

.poster {
	/*width : 50%;
	float: left;*/
	text-align : center;
	flex : 100%;
}

.poster_img {
	width: 70% ;
	border-style: solid;
  border-color: black;
}

#open_container {
	display: flex;
	flex-wrap:  wrap;
}

#picture_img {
	width: 100%;
	
}
#register_form {
	text-align : center;
	font-size : 35px;
}
#welcome_container {
	display: flex;
	flex-wrap:  wrap;
}


#welcome_img {
	width: 100%;
}

html {
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQus3ksqA51af4l7JDIDF3uj7eZs8rZnMiFUpQlrl5zYkivpLN4X00iRTo7LomxPPr_nL4&usqp=CAU");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
#form {
	background-color: #FFFFCC;
	border-style: solid;
  border-color: black;
}

form {
	font-size: 19px;
}

fieldset {
	border-style: solid;
  border-color: black;
}

footer {
	background-color : black;
	color : white;
	padding: 10px;
	position: relative;
	width: 98%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-style: solid;
  border-color: black;
  font-size: 17px ;
}

#footer_container {	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
#noi_dung_about {
	width :40%;
}

footer a {
	color : rgb(0,157,196);
}

@media(max-width: 800px) {
	#left_side {
		flex :100%;
	}
	#right_side {
		flex :100%;
	}
	#flex_container {
		flex-wrap : wrap;
	}
}	
