#menu_text {
	color : White;
	margin : 0;
	width: 100%;
	border-style: solid;
  border-color: black;
  background: url("https://i.pinimg.com/originals/69/da/a9/69daa92eee44f241dc40afb53e66276f.jpg");
  background: cover;
  background-repeat: repeat;
  font-size: 50px;
  text-align : center;
	padding:  80px;
}

/** {
	padding : 0px;
	margin :0px;
}*/


h2 {
	color :red;
}

nav {
	background-color : black;
	overflow : hidden; 
}
nav a {
	color : white;
	padding : 18px;
	display : block;
	text-align: center;
	text-decoration: none;
	float : left;

}
nav a:hover {
	background-color : white;
	color:  black;
}

#left_side {
	flex : 40%;
	padding: 5px 20px;
	border-right-style: solid;
  border-right-color: grey;
  border-left-style: solid;
  border-left-color: grey;
  
}
#right_side {
	flex: 60%;
	padding: 5px 20px;
	border-right-style: solid;
  border-right-color: grey;
 
}
#flex_container {
	display : flex;
	flex-wrap : nowrap;

}
footer {
	background-color : black;
	color : white;
	padding: 15px;
	text-align: center;
}
footer a {
	color : rgb(0,157,196);
	
}

table {
	border-style: solid;
}

/* Styling the table */
table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.team_img {
	width: 90% ;

}

.team_member {
	/*width : 50%;
	float: left;*/
	text-align : center;
	flex : 50%;
}


#team_container {
	display: flex;
	flex-wrap : wrap;
 
}

#poster_container {
	display: flex;
	flex-wrap : wrap;
}

.poster {
	/*width : 50%;
	float: left;*/
	text-align : center;
	flex : 100%;
}

.poster_img {
	width: 70% ;
}

#open_container {
	display: flex;
	flex-wrap:  wrap;
}

#picture_img {
	width: 100%;
	
}
#register_form {
	text-align : center;
	font-size : 35px;
}
#welcome_container {
	display: flex;
	flex-wrap:  wrap;
}


#welcome_img {
	width: 100%;
}

html {
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQus3ksqA51af4l7JDIDF3uj7eZs8rZnMiFUpQlrl5zYkivpLN4X00iRTo7LomxPPr_nL4&usqp=CAU");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;

}
#form {
	background-color: #FFFFCC;
	border-style: solid;
  border-color: black;
}
@media(max-width: 800px) {
	#left_side {
		flex :100%;
	}
	#right_side {
		flex :100%;
	}
	#flex_container {
		flex-wrap : wrap;
	}
}	

